<!DOCTYPE html>
<html>
<head>
    <title>购物车</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/bookstore/lib/weui.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/bookstore/css/jquery-weui.min.css" type="text/css">
    <style>
        html,body{
            height:100%;
        }
        .weui_tab .weui_tab_bd .content img{
            width:100%;
            display: block;
        }
    </style>
<!--    <script> 
$(function(){ 
$(".add").click(function(){ 
var t=$(this).parent().find('input[class*=text_box]'); 
t.val(parseInt(t.val())+1) 
setTotal(); 
}) 
$(".min").click(function(){ 
var t=$(this).parent().find('input[class*=text_box]'); 
t.val(parseInt(t.val())-1) 
if(parseInt(t.val())<0){ 
t.val(0); 
} 
setTotal(); 
}) 
function setTotal(){ 
var s=0; 
$("#tab td").each(function(){ 
s+=parseInt($(this).find('input[class*=text_box]').val())*parseFloat($(this).find('span[class*=price]').text()); 
}); 
$("#total").html(s.toFixed(2)); 
} 
setTotal(); 

}) 
</script>  -->

</head>
<body>
    <div class="weui_tab">
        <div class="weui_tab">
            <div class="weui_navbar">
                <span class="weui_navbar_item weui_bar_item_on">
                     购物车
                </span>
            </div>
            <div class="weui_tab_bd">
            <!--商品开始-->
                <div class="content">
                    <div class="weui_panel">
                         <div class="weui_panel weui_panel_access">
                              <div style="height: 30px">

                                   <a  href="xjfl.html" class="weui_cell">
                                       <div class="weui_cell_hd">
                                            <img src="__PUBLIC__/bookstore/images/c1.jpg" alt="icon" style="width:15px;height:15px;margin-right:5px;display:block">
                                        </div>
                                       <div class="weui_cell_ft">
                                         我的购物车
                                       </div>
                                   </a>
                              </div>
                         <div class="weui_panel_bd"></div>
                             <!--第一个商品开始-->
                             <span href="buy.html" class="weui_media_box weui_media_appmsg">
                              <input type="checkbox" name="checkAll" id="checkAll"/>&nbsp;&nbsp;&nbsp;
                                  <div class="weui_media_hd">
                                      <a href="buy.html"><img class="weui_media_appmsg_thumb" src="__PUBLIC__/bookstore/images/jieda.jpg" alt=""></a>
                                  </div>
                                  <div class="weui_media_bd">
                                      <div style="width: 100px">
                                          <p class="weui_media_title">解答之书</p>
                                      </div>
                                  </div>
                                 <div>
                                     <div style="width: 30px; margin-bottom: 10px; margin-left: 70px">
                                          <i class="weui_icon_cancel" name="delete"></i>
                                      </div>
                                      <div class="weui_cell_ft">

                                        <p class="weui_media_desc">￥<span class="price">10.00</span></p>
                                        <p class="weui_media_desc">×<span class="number">2</span></p>
                                      </div>
                                 </div>

                               </span>
                             <!--第二个商品开始-->
                             <span href="buy.html" class="weui_media_box weui_media_appmsg">
                              <input type="checkbox" name="checkAll" id="checkAll" onclick="setSelectAll();" />&nbsp;&nbsp;&nbsp;
                                  <div class="weui_media_hd">
                                      <a href="buy.html"><img class="weui_media_appmsg_thumb" src="__PUBLIC__/bookstore/images/jieda.jpg" alt=""></a>
                                  </div>
                                  <div class="weui_media_bd">
                                      <div style="width: 100px">
                                          <h4 class="weui_media_title">黄铜笔夹</h4>
                                      </div>

                                  </div>
                                 <div>
                                     <div style="width: 30px; margin-bottom: 10px; margin-left: 70px">
                                          <i class="weui_icon_cancel" name="delete"></i>
                                      </div>
                                      <div class="weui_cell_ft">
                                          <p class="weui_media_desc">￥<span class="price">21.00</span></p>
                                          <p class="weui_media_desc">×<span class="number">1</span></p>
                                      </div>
                                 </div>

                               </span>
                         </div>
                         </div>
                    </div>
                </div>
            </div>
    <!--商品结束-->
            <div class="weui_tabbar">
<!--         <a href="index.html" class="weui_tabbar_item weui_bar_item_on" > -->
                <div class="weui_tabbar_item weui_bar_item_on">
                    <div style="margin-left: 10px"><input type="checkbox" id="selAll" onclick="selectAll();" />全选</div>
                    <div class="weui_cell_ft">
                      <!-- <h3 style="color: #9B410E">
                        <span class="red">合计：￥</span></span>
                      </h3> -->
                      <p>合计：￥<span id="total">0.00</span></p>
                    </div>
                    <a href="javascript:;" class="weui_btn weui_btn_warn">结算</a>
                </div>
            </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="__PUBLIC__/bookstore/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="__PUBLIC__/bookstore/js/jquery-weui.min.js"></script>
<script type='text/javascript' src='__PUBLIC__/bookstore/js/swiper.js' charset='utf-8'></script>



<script>
//     $(".swiper-container").swiper({
//         loop: true,
//         autoplay: 3000
//     });
//     $(".weui_navbar .weui_navbar_item").click(function () {
//         $(".weui_navbar.weui_navbar_item").removeClass("weui_bar_item_on");//谁都没有weui_bar_item_on
//         $(this).addClass("weui_bar_item_on");//点谁谁有weui_bar_item_on
// //        判断点击的是第几个选项卡
//         var which = $(this).index();
//         console.log(which);
// //        让所有内容区域都隐藏
//         $(".weui_tab_bd .content").hide();
// //        按索引显示所有内容
//         $(".weui_tab_bd .content:eq("+which+")").show();
//     })

    $(document).ready(function () {
        // console.log('！');
        $(".weui_icon_cancel").click(function () {
            var tag = confirm('真的要删除吗？');
            if(!tag){
                return false;
            }
        })
        //点击商品计算单价
        $(":checkbox").click(function(){
            var total =  parseFloat($("#total").html());
            if ($(this).is(':checked')) {
              $(this).parent().find("span.price").each(function(){
                total += parseFloat($(this).text()) * $(this).parent().next().find(".number").text();
              })
            }else{
              $(this).parent().find("span.price").each(function(){
              total -= parseFloat($(this).text()) * $(this).parent().next().find(".number").text();
              })
            }
            $("#total").html(total.toFixed(2));
        });

        //点击全选计算所有商品
        $("#selAll").click(function(){
          var total =  parseFloat($("#total").html());
          if ($(this).is(':checked')) {
            $(":checkbox").parent().find("span.price").each(function(){
                total += parseFloat($(this).text()) * $(this).parent().next().find(".number").text();
                console.log(total);
            })
          }else{
            $(":checkbox").parent().find("span.price").each(function(){
                total -= parseFloat($(this).text()) * $(this).parent().next().find(".number").text();
                console.log(total);
            })
          }


          $("#total").html(total.toFixed(2));
        })

    })
</script>

<script language="javascript"> 

//选中全选按钮，下面的checkbox全部选中 
var selAll = document.getElementById("selAll"); 
function selectAll() 
{ 
  var obj = document.getElementsByName("checkAll"); 
  if(document.getElementById("selAll").checked == false) 
  { 
  for(var i=0; i<obj.length; i++) 
  { 
    obj[i].checked=false; 
  } 
  }else 
  { 
  for(var i=0; i<obj.length; i++) 
  {   
    obj[i].checked=true; 
  } 
  } 
  
} 

//当选中所有的时候，全选按钮会勾上 
function setSelectAll() 
{ 
    var obj=document.getElementsByName("checkAll"); 
    var count = obj.length; 
    var selectCount = 0;
    //var zj; 

for(var i = 0; i < count; i++) 
{ 
    if(obj[i].checked == true) 
    { 
      // var s = obj[i].parentNode;
      // var c = s.childNodes;
      // for(var j = 0; j < c.length; j++)
      // {
   
      //   if(c[j].nodeType==1){
      //     var m = c[j].getAttribute("class");
      //          console.log(m);
      //   }
        
      //   if(m=="price")
      //   {
      //     zj+=c[j].nodeValue;
      //   }
      // }
      //zj += s[0].nodeValue;
        selectCount++;  
    } 
} 
if(count == selectCount) 
{   
    document.all.selAll.checked = true; 
} 
else 
{ 
    document.all.selAll.checked = false; 
} 
} 
</script>

</html>
